aiofiles==23.2.1
altair==5.2.0
anyio==4.2.0
appdirs==1.4.4
asttokens==2.4.1
attrs==23.2.0
backoff==2.2.1
boilerpy3==1.0.7
cattrs==23.2.3
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.1
contourpy==1.2.0
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
docopt==0.6.2
Events==0.5
executing==2.0.1
farm-haystack==1.23.0
fastapi==0.108.0
ffmpy==0.3.1
filelock==3.13.1
fonttools==4.47.0
fsspec==2023.12.2
gradio==3.50.2
gradio_client==0.6.1
h11==0.14.0
httpcore==1.0.2
httpx==0.26.0
huggingface-hub==0.20.2
idna==3.6
importlib-resources==6.1.1
inflect==7.0.0
ipykernel==6.28.0
ipython==8.20.0
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.7.1
kiwisolver==1.4.5
lazy-imports==0.3.1
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
monotonic==1.6
more-itertools==10.2.0
nest-asyncio==1.5.8
networkx==3.2.1
num2words==0.5.13
numpy==1.26.3
orjson==3.9.10
packaging==23.2
pandas==2.1.4
parso==0.8.3
pillow==10.2.0
platformdirs==4.1.0
posthog==3.3.0
prompt-toolkit==3.0.43
prompthub-py==4.0.0
psutil==5.9.7
pure-eval==0.2.2
pydantic==1.10.13
pydub==0.25.1
Pygments==2.17.2
pyparsing==3.1.1
python-dateutil==2.8.2
python-multipart==0.0.6
pytz==2023.3.post1
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.2
quantulum3==0.9.0
rank-bm25==0.2.2
referencing==0.32.1
regex==2023.12.25
requests==2.31.0
requests-cache==0.9.8
rpds-py==0.16.2
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.11.4
semantic-version==2.10.0
six==1.16.0
sniffio==1.3.0
sseclient-py==1.8.0
stack-data==0.6.3
starlette==0.32.0.post1
tenacity==8.2.3
threadpoolctl==3.2.0
tiktoken==0.5.2
tokenizers==0.15.0
toolz==0.12.0
tornado==6.4
tqdm==4.66.1
traitlets==5.14.1
transformers==4.35.2
typing_extensions==4.9.0
tzdata==2023.4
url-normalize==1.4.3
urllib3==2.1.0
uvicorn==0.25.0
wcwidth==0.2.13
websockets==11.0.3
